.top_menu {
display: table;
table-layout: fixed;
position: relative;
margin: 20px auto 27px auto;
text-align: center;
width: 100%;
}

.top_menu > li > a, .top_menu > li > p {
color: #fff;
font: 15px Arial;
text-shadow: 1px 0px #0d70a0;
line-height: 65px;
text-decoration: none;
display: block;
width: 100%;
text-transform: uppercase;
}

.top_menu > li{
display: table-cell;
background: #01346d url('tmenu_bg.gif') repeat-x left bottom;
border-left: 1px solid #011F41;
border-right: 1px solid #011F41;

-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.top_menu > li:last-child a, .top_menu > li:last-child p {
border-right: none;
}
.top_menu > li:first-child a, .top_menu > li:first-child p {
border-left: none;
}
.top_menu > li:hover, .top_menu > li.current {
background-color: #077dbb;
background-image: url("topmenuh_bg.gif");
background-position: left bottom;
background-repeat:  repeat-x;
}
.top_menu > li:hover > a, .top_menu > li:hover p, .top_menu > li.current > a, .top_menu > li.current p {
color: #000;
text-shadow: none
}
.top_menu > li.havechild > a, .top_menu > li.havechild > p {

background-image: url("tmenu_arr.gif");
background-position: 94% 50%;
background-repeat:  no-repeat;
}


.top_menu > li ul {
position: absolute;
white-space: nowrap;
min-width: 200px;
z-index: -999;
max-height: 0;
pointer-events: none;
overflow: hidden;
}
.top_menu > li > ul {
}
.top_menu > li > ul ul {
display: block;
left: 95%;
top: 20%;
}
.top_menu > li ul li {
  background-color: #E1F2FC;  
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  cursor: pointer;
  min-width: 247px;
  text-align: left;
}
.top_menu > li ul li:after {
	content:"";
	position: relative;
	display: block;
	width: 96%;
	height: 1px;
	margin: 0px auto;
	background-color: #fff;
}
.top_menu > li ul li:last-child:after {
	display: none;
}
.top_menu > li ul li:first-child {
  border-top-width: 1px;
}
.top_menu > li ul li:last-child {
  border-bottom-width: 1px;
}
.top_menu > li ul li a, .top_menu > li ul li p {
	text-decoration: none;
	color: #1196d6;
	display: block;
}
.top_menu > li ul li:hover, .top_menu > li ul li.current {
background-color: #C8E7FA;
}